/* 
===========================================================
General
=========================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2a2a2a;
  color: #8a8a8a;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  line-height: 2rem;
  text-align: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: column;
  position: relative;
}

.title-color {
  color: #cacaca;
}

.sub-title {
  font-size: 1.3rem;
}

.about-page,
.portfolio-page,
.contact-page {
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


/* 
===================================================================
Header
=================================================================== */


header {
  background-color: #2a2a2a;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10%;
}

.navbar {
  padding: 3% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo {
  text-decoration: none;
  color: #8a8a8a;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 390px;
}

.nav-links li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #8a8a8a;
  font-weight: 600;
}

.nav-links li a:hover,
.nav-links li a:active {
  color: #ffcb05;
}

.nav-links li a i {
  display: none;
}

@media only screen and (max-width: 885px) {
  .navbar {
    justify-content: center;
  }
  .logo {
    display: none;
  }
  .nav-links {
    border-bottom: solid 1px white;
    padding: 3%;
  } 
  .nav-links li a span {
    display: none;
  }
  .nav-links li a i {
    display: block;
  }
}


/* 
===================================================================
About page
=================================================================== */


.about-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  width: 90%;
}

.btn-started {
  background-color: dodgerblue;
  background: linear-gradient(180deg,#f2cf00 0,#f2b200 100%);
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  color: rgba(0,0,0,.6);
  border: none;
  padding: 8px 31px;
  text-align: center;
  text-decoration: none;
  font-size: 0.89rem;
  margin-top: 3%;
  border-radius: 30px;
}

.btn-started:hover {
  background: linear-gradient(180deg,#ffdc0d 0,#ffbf0d 100%);
  color: rgba(0,0,0,.6);
}

.btn-contact {
  color: #8a8a8a;
}


/* 
===================================================================
Portfolio page
=================================================================== */


.projects-container {
  display: flex;
  flex-flow: column;
}

.project-item {
  flex-basis: 400px;
  margin: 2%;
  border-radius: 8px;
}

.bg-black {
  background-size: 100% 100%;
  display: block;
  position: relative;
  /* padding-bottom: 67%; */
  height: 255px;
  border-radius: 8px;
}

.shopping-image {
  background-image: url('./images/shopping_online.jpg');
}
.holidays-image {
  background-image: url('./images/vacation.jpg');
}
.crypto-image {
  background-image: url('./images/crypto_currency.jpg');
}
.tasks-image {
  background-image: url('./images/sticky_notes.jpg');
}
.quiz-image {
  background-image: url('./images/quiz.jpg');
}

.bg-black::after {
  content: "";
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.3;
  border-radius: 8px;
}

.bg-black:hover .btn-project-img {
  border-color: white;
  border-radius: 8px;
  display: block;
}

.bg-black:hover::after {
  opacity: 0.1;
}

.btn-project-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  border: 4px solid transparent;
  padding: 16px 32px 14px;
  transition: 400ms;
  font-size: 0.89rem;
  white-space: nowrap;
  display: none;
}

.btn-project-img::after {
  content: "";
  position: absolute;
  width: 18px;
  background-color: #ffffff;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.project-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 8% 0px;
}

.divider {
  border-bottom: solid 0.5px #8a8a8a;
  opacity: 0.3;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.description-section {
  flex-basis: 400px;
  margin: 2%;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  font-size: 0.89rem;
  line-height: 1.3rem;
}

.description {
  font-size: 0.89rem;
}

.project-actions {
  display: flex;
}

.btn-project {
  padding: 11px 30.5px;
  color: white;
  font-size: 0.89rem;
  text-decoration: none;
  transition: 300ms;
  border-radius: 30px;
}

.btn-project:hover {
  cursor: pointer;
  transition: 300ms;
}

.btn-visit {
  background-color: #5b43d6;
  border-color: #5b43d6;
  margin-right: 1rem;
}

.btn-visit:hover {
  color: #fff;
  background-color: #452bc7;
  border-color: #4129bd;
}

.btn-github {
  background-color: #fff;
  color: #5b43d6;
}

.btn-github:hover {
  color: #fff;
  background-color: #5b43d6;
  border-color: #5b43d6;
}


@media only screen and (max-width: 500px) {
  .project-item {
        margin: 4%;
  }
  .description-section {
    text-align: center;
  }
}

@media only screen and (max-width: 885px) {
  .description-section {
    text-align: center;
  }
  .project-actions {
    justify-content: center;
    margin-top: 6%;
  }
  .project-section {
    justify-content: space-evenly;
  }
  .description {
    margin-top: 6%;
  }

}


/* 
===================================================================
Contact page
=================================================================== */


.contact-page {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  margin: 10% 0px;
  display: flex;
  width: 100%;
  max-width: 390px;
  list-style: none;
  justify-content: space-evenly;
}

.social-media li {
  background-size: cover;
  cursor: pointer;
  padding: 25px;
  width: 60px;
  height: 60px;
  transition: 200ms;
  opacity: 0.8;
}

li:hover {
  opacity: 1;
  transition: 200ms;
}

.linkedIn {
  background-image: url('./icons/linkedin.png');
}
.github {
  background-image: url('./icons/git.png');
}
.facebook {
  background-image: url('./icons/facebook.png');
  background-attachment: initial;
}
.gmail {
  background-image: url('./icons/gmail.png');
}